body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

/* ======== Visually-hidden ========= */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======== Btn-red ================= */
.btn-red {
    display: block;
    width: 253px;
    padding-top: 11px;
    padding-bottom: 11px;
    
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 3px;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #ca2c37;
}

.btn-red:active {
    background-color: #ba2732;
}

/* ======== Header ================= */
.header-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: #293449;
}

.header-top__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top__logo {
    display: block;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 5px;
    
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
            box-shadow: 0 5px 0 0 #b52933;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.header-top__logo:hover,
.header-top__logo:focus {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
            box-shadow: 0 5px 0 0 #9a212a;
}

.header-top__logo:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
            box-shadow: 0 5px 0 0 #8e1e26;
}

.header-top__logo svg {
    fill: #ffffff;
}

.search-block {
    position: relative;

    width: 270px;
}

.search-block__label:hover .search-block__svg {
    opacity: 1;
}

.search-block__input:focus {
    background-color: #ffffff;
}

.search-block__input:focus ~ .search-block__svg {
    fill: #ee3643;
    opacity: 1;
}

.search-block__input {
    width: 100%;
    height: 100%;
    padding-left: 48px;

    font-size: 17px;

    background-color: #293449;
    border: transparent;
}

.search-block__input::-webkit-input-placeholder {
    color: #ffffff;
}

.search-block__input::-moz-placeholder {
    color: #ffffff;
}

.search-block__input:-ms-input-placeholder {
    color: #ffffff;
}

.search-block__input::-ms-input-placeholder {
    color: #ffffff;
}

.search-block__input::placeholder {
    color: #ffffff;
}

.search-block__svg {
    position: absolute;
    top: 13px;
    left: 17px;

    fill: #ffffff;
    opacity: 0.3;
}

.header-top__item {
    display: block;
    width: 150px;

    font-size: 17px;
    color: #ffffff;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.header-top__item:hover,
.header-top__item:focus {
    background-color: #212a3a;
}

.header-top__item:active {
    color: rgba(255, 255, 255, 0.6);
    
    background-color: #161d29;
}

.header-top__bookmark {
    position: relative;

    padding: 11px 0 9px 44px;
}

.header-top__bookmark::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 17px;

    width: 14px;
    height: 16px;

    background: url('../img/header/icon-bookmark.svg') no-repeat;
    opacity: 0.3;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.header-top__bookmark:hover::before,
.header-top__bookmark:focus::before {
    opacity: 1;
}

.header-top__bookmark:active::before {
    opacity: 0.5;
}

.header-top__basket {
    position: relative;

    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 49px;
}

.header-top__basket::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 18px;

    width: 15px;
    height: 15px;

    background: url('../img/header/icon-cart.svg') no-repeat;
    opacity: 0.3;
}

.header-top__basket:hover::before,
.header-top__basket:focus::before {
    opacity: 1;
}

.header-top__basket:active::before {
    opacity: 0.5;
}

.header-top__order {
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 21px;

    background-color: #63a63e;
}

.header-top__order:hover,
.header-top__order:focus {
    background-color: #5fbb2d;
}

.header-top__order:active {
    background-color: #518534;
}

.header-top__basket_active {
    background-color: #ee3643;
}

.header-top__basket_active:hover,
.header-top__basket_active:focus {
    background-color: #f10718;
}

.header-top__basket_active:active {
    background-color: #930610;
}

.header-content {
    padding-top: 33px;

    background-color: #f2f6f8;
}

.header-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header-content__text {
    width: 200px;

    margin-left: 52px;
    
    font-weight: normal;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.header-content__contact {
    margin-top: 11px;

    font-style: normal;
}

.header-content__tel {
    position: relative;
    
    display: block;
    width: 270px;

    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 71px;
    
    font-size: 21px;
    color: #ee3643;
    
    border: 3px #ffffff solid;
}

.header-content__tel::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    
    width: 19px;
    height: 19px;

    background: url('../img/header/icon-phone.svg') no-repeat;
}

.header-content__address {
    margin-top: 7px;
    margin-left: 9px;

    font-size: 14px;
    color: #32425c;
}

.user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 12px;
    padding-left: 0;

    list-style: none;
}

.user-list__link {
    display: block;

    font-size: 21px;
    color: #000000;

    background-color: #ffffff;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.user-list__log {
    position: relative;

    width: 121px;

    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 47px;
}

.user-list__icon-login {
    position: absolute;
    top: 14px;
    left: 14px;

    fill: #cccccc;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.user-list__log:hover .user-list__icon-login,
.user-list__log:focus .user-list__icon-login  {
    fill: #333366;
}

.user-list__log:active .user-list__icon-login  {
    fill: #cccccc;
}

.user-list__reg {
    width: 150px;

    margin-left: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.user-list__link:hover,
.user-list__link:focus {
    color: #ee3643;
}

.user-list__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-block {
    position: relative;

    margin-top: 13px;
    margin-left: -18px;
}

.registration-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    margin-bottom: 5px;
    padding-top: 10px;
    padding-right: 11px;
    padding-bottom: 12px;
    padding-left: 13px;
    width: 300px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    background-color: #fff; 
}

.registration-block__user:hover .registration-block__icon-user,
.registration-block__user:focus .registration-block__icon-user,
.registration-block__out:hover .registration-block__icon-logout,
.registration-block__out:focus .registration-block__icon-logout {
    fill: #32425c;
}

.registration-block__user:active .registration-block__icon-user,
.registration-block__user:active .registration-block__name,
.registration-block__out:active .registration-block__icon-logout {
    color: #c5c5c5;
    fill: #c5c5c5;
}

.registration-block__icon-user,
.registration-block__icon-logout {
    margin-top: 2px;

    fill: #c5c5c5;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.registration-block__name {
    margin-left: 10px;    
    
    font-size: 21px;
    color: #000;
    
    -webkit-transition: all 0.1s linear;
    
    -o-transition: all 0.1s linear;
    
    transition: all 0.1s linear;
}

.user-block__links {
    margin-left: 19px;
}

.user-block__link {
    color: #32425c;

    text-decoration: underline;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.user-block__link:hover,
.user-block__link:focus {
    color: #ee3643;
}

.user-block__link:active {
    color: rgba(50, 60, 92, 0.3);
}

.user-block__link:first-child {
    margin-right: 28px;
}

.user-block__link:nth-child(2) {
    position: relative;
}

.user-block__link:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -16px;
    
    width: 4px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

.main-nav {
    padding-top: 24px;
    padding-bottom: 60px;

    background-color: #f3f7f8;
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
    background-color: #32425c;
    border-bottom: 5px #293449 solid;
}

.main-nav__link {
    display: block;

    padding-top: 20px;
    padding-right: 31px;
    padding-bottom: 16px;
    padding-left: 30px;

    font-size: 17px;
    color: #ffffff;
}

.main-nav__link:hover,
.main-nav__link:focus {
    background-color: #293449;
}

.main-nav__link:hover:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.3);
}

/* ======== Features ================= */
.features {
    padding-top: 60px;
    padding-bottom: 33px;
}

.features__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.features__left {
    width: 620px;
}

.features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.features__item {
    position: relative;
    
    width: 300px;
    margin-bottom: 20px;
    padding-top: 21px;
    padding-bottom: 23px;
    padding-left: 22px;
}

.features__item_new {
    background: url('../img/new/new_flag_copy.png') top right no-repeat;
}

.features__item_yelow {
    background-color: #ffbf47;
}

.features__item_yelow::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 43px;

    width: 44px;
    height: 65px;

    background: url('../img/features/icon-1.svg') no-repeat;
}

.features__item_blue {
    background-color: #3bbce3;
}

.features__item_blue::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 28px;

    width: 75px;
    height: 61px;

    background: url('../img/features/icon-2.svg') no-repeat;
}

.features__item_violet {
    background-color: #dc91d8;
}

.features__item_violet::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 62px;

    background: url('../img/features/icon-3.svg') no-repeat;
}

.features__item_green {
    background-color: #8ed78f;
}

.features__item_green::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background: url('../img/features/icon-4.svg') no-repeat;
}

.features__item_dark-yelow {
    background-color: #ffc047;
}

.features__item_dark-yelow::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background: url('../img/features/icon-5.svg') no-repeat;
}

.features__title{
    margin-top: 0;
    margin-bottom: 14px;

    font-size: 24px;
    color: #ffffff;
}

.features__link {
    display: block;
    width: 135px;
    margin-left: 2px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.features__link:hover,
.features__link:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.features__link:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider {
    position: relative;
}

.slider__controls {
    z-index: 100;
    position: absolute;
    left: 47%;
    bottom: 38px;
}

.slider__controls-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    width: 10px;
    height: 10px;
    padding-top: 5px;

    border-radius: 50%;
    cursor: pointer;
}

.slider__controls-item:nth-child(2) {
    margin-left: 7px;
}

.slider__controls-item::after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 25%;
   
    width: 10px;
    height: 10px;

    background: #ffffff;
    border-radius: 50%;
}

.slider__items {
    position: relative;
}

.slider__item {
    display: none;

    min-height: 266px;
    padding-top: 19px;
    padding-left: 25px;

    background-color: #7f5f52;
    background: url('../img/features/slide2.jpg') no-repeat;
    background-size: cover;
}

.slider__item:nth-child(2) {
    background: url('../img/features/slide1.jpg') no-repeat;
}

.slider__arrow-right,
.slider__arrow-left {
    cursor: pointer;
}

.slider__arrow-right::before {
    z-index: 80;
    content: "";

    position: absolute;
    top: 114px;
    right: 21px;

    width: 22px;
    height: 40px;

    background: url('../img/features/icon-right.svg') no-repeat;
}

.slider__arrow-left::after {
    z-index: 80;
    content: "";

    position: absolute;
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px;

    background: url('../img/features/icon-left.svg') no-repeat;
}

.slide1:checked ~ .slider__items .slider__item:nth-child(1) {
    display: block;
}

.slide2:checked ~ .slider__items .slider__item:nth-child(2) {
    display: block;
}

.slide1:checked ~ .slider__controls .controls-item__one::before,
.slide2:checked ~ .slider__controls .controls-item__two::before {
    z-index: 5;
    content: "";

    position: absolute;
    left: 25%;

    width: 6px;
    height: 6px;
    margin: 2px;

    background: #ee3643;
    border-radius: 50%;
}

.slider__title {
    margin: 0;

    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.slider__text {
    margin: 0;
    margin-top: 2px;

    font-size: 18px;
    color: #ffffff;
}

.slider__link {
    width: 195px;
    margin-top: 122px;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 4px;
}

/* ======== Popular-goods ================= */
.section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 21px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    background-color: #f9f5f0;
}

.section-header__title {
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 27px;

    font-size: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.section-header__link {
    min-width: 253px;
    margin-right: 24px;
}

.goods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-family: 'PT Sans', Arial, sans-serif;

    list-style: none;
}

.goods-list__item {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    margin-bottom: 20px;
    padding-bottom: 19px;

    text-align: center;
    border: 1px #e5e5e5 solid;
    position: relative;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.goods-list__item_new::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 5;

    width: 60px;
    height: 59px;

    background: url('../img/new/new_flag_copy.png') no-repeat;
}

.popular-goods .goods-list__item {
    margin-right: 20px;
}

.popular-goods .goods-list__item:nth-child(4n) {
    margin-right: 0;
}

.catalog .goods-list__item {
    margin-right: 20px;
}

.catalog .goods-list__item:nth-child(3n) {
    margin-right: 0;
}

.goods-list__title {
    width: 160px;
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 13px;
    margin-left: auto;

    font-size: 18px;
}

.goods-list__oldprice {
    display: block;
    margin-bottom: 7px;
    margin-left: 3px;

    font-size: 17px;
    color: #999999;
    text-transform: uppercase;
}

.goods-list__price {
    position: relative;

    width: 122px;
    margin-top: auto;
    margin-left: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;

    font-size: 17px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;

    background-color: #ee3643;
    border-radius: 3px;
}

.goods-list__price::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -38px;

    width: 0;
    height: 0;
    border: 20px solid #ffffff;
    border-left-color: #ee3643;
    
    border-radius: 3px;
}

.goods-list__active {
    position: absolute;
    top: 33px;
    right: 0;
    z-index: -1;

    padding-top: 10px;

    background-color: #ffffff;
    
    -webkit-transition: all 0.1s linear;
    
    -o-transition: all 0.1s linear;
    
    transition: all 0.1s linear;
}

.goods-list__item:hover {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    border-color: transparent;
}

.goods-list__item:hover .goods-list__active {
    z-index: 2;
}

.goods-list__buy,
.goods-list__bookmark {
    width: 135px;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 3px;
    
    font-size: 14px;
    font-family: 'Cuprum', Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #63a63e;
    outline: none;
    border: none;
    border-bottom: 3px #367315 solid;
    border-radius: 3px;
    cursor: pointer;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.goods-list__buy {
    margin-bottom: 8px;
}

.goods-list__buy:hover,
.goods-list__buy:focus {
    background-color: #5fbb2d;
}

.goods-list__buy:active {
    background-color: #518534;
    border-bottom: 3px #518534 solid;
}

.goods-list__bookmark {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 3px;

    color: #32425c;

    background-color: #ffffff;
    border: 3px #63a63e solid;
}

.goods-list__bookmark:hover,
.goods-list__bookmark:focus {
    border: 3px #32425c solid;
}

.goods-list__bookmark:active {
    color: rgba(50, 66, 92, 0.3);
    border: 3px #c1c6ce solid;
}

/* ======== Popular-manufacturer ================= */
.popular-manufacturer {
    padding-top: 2px;
}

.manufacturer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 65px;
    padding: 0;

    list-style: none;
}

.manufacturer-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 220px;
    margin-bottom: 20px;
    min-height: 145px;

    border: 1px #eaeaea solid;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.manufacturer-list__item:hover,
.manufacturer-list__item:focus {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    border: transparent;
}

.manufacturer-list__item:active {
    -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
            box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    border: transparent;
}

.manufacturer-list__item:active .manufacturer-list__img {
    opacity: 0.3;
}

/* ======== Advantage ================= */
.advantage {
    background-color: #f4f8f9;
}

.advantage__inner {
    padding-top: 58px;
    padding-bottom: 98px;
}

.service {
    margin-bottom: 60px;
}

.service-title {
    margin-top: 4px;
    margin-bottom: 23px;

    font-size: 30px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.service-text {
    width: 400px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.tab {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.tab-labels {
    position: relative;

    margin-top: 11px;
    margin-right: 79px;
    margin-bottom: 0;
    padding: 0;

    list-style: none;
}

.tab-labels::after {
    content: "";
    position: absolute;
    top: -46px;
    right: 0px;

    width: 10px;
    height: 272px;

    background: url('../img/advantage/shadow.png') no-repeat;
}

.tab__input[id="delivery"]:hover ~ .tab-labels .tab-labels__item[for="delivery"],
.tab__input[id="guarantee"]:hover ~ .tab-labels .tab-labels__item[for="guarantee"],
.tab__input[id="credit"]:hover ~ .tab-labels .tab-labels__item[for="credit"] {
   background-color: #293449;
}

.tab__input[id="delivery"]:checked ~ .tab-labels .tab-labels__item[for="delivery"],
.tab__input[id="guarantee"]:checked ~ .tab-labels .tab-labels__item[for="guarantee"],
.tab__input[id="credit"]:checked ~ .tab-labels .tab-labels__item[for="credit"] {
    color: #333366;

    background: #ffffff;
    border: transparent;
}

.tab__input[id="delivery"]:checked ~ .tab-content .delivery,
.tab__input[id="guarantee"]:checked ~ .tab-content .guarantee,
.tab__input[id="credit"]:checked ~ .tab-content .credit {
    display: block;
}

.tab-labels__item {
    display: block;
    width: 240px;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 22px;

    font-size: 21px;
    font-weight: 700;
    color: #ffffff;

    background: #32425c;
    border-top: 1px #405069 solid;
    border-bottom: 1px #293449 solid;
    cursor: pointer;
}

.tab-content {
    position: relative;

    width: 620px;
    margin-top: 5px;
}

.delivery,
.guarantee,
.credit {
    min-height: 190px;

    display: none;
    width: 100%;
}

.delivery::before {
    content: '';
    position: absolute;
    top: 27px;
    right: 0;
    z-index: -1;

    width: 468px;
    height: 261px;

    background: url('../img/advantage/car.png') no-repeat;
}

.guarantee::before {
    content: '';
    position: absolute;
    top: 5px;
    right: -9px;
    z-index: -1;

    width: 389px;
    height: 283px;

    background: url('../img/advantage/sing.png') no-repeat;
}

.credit::before {
    content: '';
    position: absolute;
    top: 4px;
    right: -10px;
    z-index: -1;

    width: 465px;
    height: 285px;

    background: url('../img/advantage/money.png') no-repeat;
}

.tab-content {
    z-index: 1;
}

.tab-content__title {
    margin: 0;

    font-size: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.tab-content__text {
    width: 275px;
    margin-top: 22px;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 24px;
}

.guarantee .tab-content__text {
    width: 375px;
}

.credit .tab-content__text {
    width: 280px;
    margin-top: 24px;
    margin-bottom: 27px;
}

.credit .btn-red {
    width: 195px;
}

/* ======== information ================= */
.information {
    padding-top: 52px;
    padding-bottom: 85px;
}

.information__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.information-contant__title {
    margin-bottom: 26px;

    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.information-contant__text {
    width: 530px;
    margin-bottom: 24px;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.11px;
}

.information-contant__text_width {
    width: 400px;
    margin-bottom: 20px;

    font-family: 'PT Sans', Arial, sans-serif;
    letter-spacing: 0.03px;
}

.transport-list {
    margin-top: 0;
    margin-bottom: 36px;
    padding: 0;

    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.transport-list__item {
    position: relative;

    margin-bottom: 20px;
    margin-left: 36px;
}

.transport-list__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -37px;
    
    display: block;
    width: 26px;
    height: 2px;
    
    background: #ee3643;
}

.information-contant__link {
    width: 220px;
}

.information-contact {
    width: 300px;
}

.information-contact__title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.information-contact__text {
    width: 180px;
    margin-bottom: 31px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.information-contact__link {
    width: 300px;
    margin-top: 37px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 5px;
}

/* ======== Footer ================= */
.footer {
    overflow-y:hidden;
}

.footer-top {
    padding-bottom: 29px;
    background-color: #32425c;
}

.footer-top__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-top__logo {
    margin-bottom: 34px;
    padding-top: 16px;
    padding-bottom: 13px;

    font-size: 30px;
}

.footer-top__address {
    width: 335px;
    margin-left: 3px;
    
    font-size: 18px;
    color: #f3f7f9;
    line-height: 24px;
}

.footer-top__lists {
    padding-top: 41px;
}

.top-list,
.bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 547px;
    margin: 0;
    padding: 0;

    font-size: 18px;
    list-style: none;
}

.bottom-list {
    width: 525px;
    margin-top: 38px;
    margin-left: 22px;
}

.top-list__link {
    color: #f1f5f7;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.bottom-list__link { 
    color: #ffd180;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.top-list__link:hover,
.top-list__link:focus,
.bottom-list__link:hover,
.bottom-list__link:focus {
    text-decoration: underline;
}

.top-list__link:active,
.bottom-list__link:active {
    text-decoration: none;

    opacity: 0.5;
}


.footer-bottom {
    background-color: #293449;
}

.footer-bottom__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-bottom__copyright {
    max-width: 240px;
    margin: 0;

    color: #fff;
}

.social {
    margin-left: 126px;
}

.footer-bottom__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social__item {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: #212a3a;
    border-radius: 50%;

    -webkit-transition: background-color 0.1s linear;

    -o-transition: background-color 0.1s linear;

    transition: background-color 0.1s linear;
}

.social__item:hover,
.social__item:focus {
    background-color: #ee3643;
    outline: none;
}

.social__item:active {
    background-color: #ee3643;
    outline: none;
}

.social__item_vk::before {
    content: '';
    position: absolute;
    top: calc(50% - 15px/2);
    left: calc(50% - 26px/2);

    display: block;
    width: 26px;
    height: 15px;

    background-image: url('../img/footer/vk.svg');
}

.social__item_fb::before {
    content: '';
    position: absolute;
    top: calc(50% - 22px/2);
    left: calc(50% - 12px/2);

    display: block;
    width: 12px;
    height: 22px;

    background-image: url('../img/footer/fb.svg');
}

.social__item_in::before {
    content: '';
    position: absolute;
    top: calc(50% - 21px/2);
    left: calc(50% - 21px/2);

    display: block;
    width: 21px;
    height: 21px;

    background-image: url('../img/footer/insta.svg');
}

.list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;

    list-style: none;
}

.list-info__item {
    margin-left: 51px;
}

.list-info__text {
    margin-top: 0;
    margin-bottom: 0;

    color: #ffffff;
}

.list-info__link {
    color: #ffd180;

    -webkit-transition: -webkit-text-decoration 0.1s linear;

    transition: -webkit-text-decoration 0.1s linear;

    -o-transition: text-decoration 0.1s linear;

    transition: text-decoration 0.1s linear;

    transition: text-decoration 0.1s linear, -webkit-text-decoration 0.1s linear;
}

.list-info__link:hover,
.list-info__link:focus {
    text-decoration: underline;
}

.list-info__link:active {
    color: #ee3643;
    text-decoration: none;
}

/* ======== Modal============ */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    -webkit-animation-name: bounce;

            animation-name: bounce;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

.modal-error {
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
    0% {-webkit-transform: translate(-2000px, -50%);transform: translate(-2000px, -50%)}
    50% {-webkit-transform: translate(0px, -50%);transform: translate(0px, -50%)}
    100% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%)}
}

@keyframes bounce {
    0% {-webkit-transform: translate(-2000px, -50%);transform: translate(-2000px, -50%)}
    50% {-webkit-transform: translate(0px, -50%);transform: translate(0px, -50%)}
    100% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%)}
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%)}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translate(-48%, -50%);transform: translate(-48%, -50%)}
    20%, 40%, 60%, 80% {-webkit-transform: translate(-52%, -50%);transform: translate(-52%, -50%)}
}

@keyframes shake {
    0%, 100% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%)}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translate(-48%, -50%);transform: translate(-48%, -50%)}
    20%, 40%, 60%, 80% {-webkit-transform: translate(-52%, -50%);transform: translate(-52%, -50%)}
}


/* ======== Write-us============ */
.write-us {
    background-color: #ffffff;
}

.write-us__form {
    position: relative;

    width: 620px;
    
    border-top: 7px solid #ff5257;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.write-us__inner {
    padding-top: 45px;
    padding-right: 80px;
    padding-left: 80px;
}
  
.write-us__labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}

.write-us__label {
    width: 220px;
}

.write-us__label span {
    display: block;
    margin-bottom: 9px;

    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.write-us__input,
.write-us__textarea {
    width: 100%;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    color: #a9a9a9;

    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.write-us__input {
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 14px;
}

.write-us__textarea {
    min-height: 113px;
    margin-top: -1px;
    margin-bottom: 34px;
    padding-top: 10px;
    padding-left: 14px;
    
    resize: none;
}

.btn-send__wrapper {
    padding-top: 37px;
    padding-bottom: 38px;

    background-color: #f4f4f4;
}

.btn-send {
    width: 460px;
    margin: 0 auto;

    border: none;
    cursor: pointer;
}

.write-us__form .btn-close {
    position: absolute;
    top: 9px;
    right: 3px;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* ======== Map ================= */
.map__inner {
    position: relative;
}

.map-content {
    min-height: 446px;
    width: 940px;

    background-image: url('../img/map/map.jpg');
    background-repeat: no-repeat;

    -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);

            box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.map-content img {
    display: block;
}

.map-content iframe {
    display: block;
}

.map .btn-close {
    position: absolute;
    top: 9px;
    right: 10px;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* ================================================= Catalog =========================== */
.catalog-header {
    margin-top: 23px;
}

.catalog-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 358px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -2px;
    padding: 0;

    list-style: none;
}

.catalog-header__item {
    position: relative;
}

.catalog-header__item::after {
    content: "";
    position: absolute;
    top: 0;
    right: -24px;

    width: 8px;
    height: 12px;

    background: url('../img/catalog/icon-right-small.svg') no-repeat;
}

.catalog-header__item:last-child::after {
    display: none;
}

.catalog-header__link {
    display: block;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-header__title {
    margin-top: 22px;
    margin-bottom: 20px;
    padding-top: 27px;
    padding-right: 28px;
    padding-bottom: 27px;
    padding-left: 28px;

    font-size: 30px;
    font-weight: 400;
    color: #333366;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

.catalog-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog-filter {
    width: 220px;
}

.catalog-filter__title {
    width: 100%;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.form-sort {
    margin-top: 17px;
}
  
.form-sort fieldset {
    position: relative;

    margin-bottom: 48px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    border: none;
}

.form-sort fieldset:nth-child(2) {
    margin-bottom: 24px;
}

.form-sort fieldset:nth-child(2)::before,
.form-sort fieldset:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 0;

    width: 220px;
    height: 1px;

    background-color: #e5e5e5;
}

.form-sort legend {
    margin-bottom: 20px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

  .range-filter {
    width: 220px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .range-controls {
    position: relative;
    
    height: 80px;
    margin-bottom: 10px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f7f3ec;
    
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #00ca74;
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 20px;
    height: 20px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 19px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    font-size: 0;
  }
  
  .price-controls label {
    display: inline-block;
    vertical-align: middle;
    
    
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .price-controls input {
    width: 95px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 4px;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #000000;
    
    border: none;
    border-radius: 3px;
    background: #f7f3ec;
  }
  
  .max-price {
    text-align: right;
  }

.filter-manufacturers, 
.filter-power {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-manufacturers__item,
.filter-power__item {
    position: relative;

    margin-bottom: 22px;
}

.filter-manufacturers__label,
.filter-power__label,
.btn-filter {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
}

.filter-manufacturers__label {
    margin-left: 34px;
}

.filter-manufacturers__checkbox {
    position: absolute;
    top: -3px;
    left: 0;
    
    width: 23px;
    height: 23px;

    background-image: url('../img/catalog/checkbox-off.svg');
}

.filter-manufacturers__input:checked + .filter-manufacturers__checkbox {
    width: 27px;
    height: 23px;

    background-image: url('../img/catalog/checkbox-on.svg');
}

.filter-manufacturers__input:hover + .filter-manufacturers__checkbox {
    width: 23px;
    height: 23px;

    background-image: url('../img/catalog/checkbox-off-focus.svg');
}

.filter-manufacturers__input:hover:checked + .filter-manufacturers__checkbox {
    width: 27px;
    height: 23px;

    background-image: url('../img/catalog/checkbox-on-focus.svg');
}

.filter-manufacturers__input:disabled + .filter-manufacturers__checkbox {
    width: 23px;
    height: 23px;

    background-image: url('../img/catalog/checkbox-off-focus.svg');
    opacity: 0.3;
}

.filter-manufacturers__input:checked:disabled  + .filter-manufacturers__checkbox {
    width: 27px;
    height: 23px;

    background-image: url('../img/catalog/checkbox-on-focus.svg');
    opacity: 0.3;
}

.filter-power__label {
    margin-left: 34px;
}

.filter-power__radio {
    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;

    background-image: url('../img/catalog/radio-off.svg');
}

.filter-power__input:checked + .filter-power__radio {
    background-image: url('../img/catalog/radio-on.svg');
}

.filter-power__input:focus + .filter-power__radio {
    background-image: url('../img/catalog/radio-off-focus.svg');
}

.filter-power__input:checked:focus + .filter-power__radio {
    background-image: url('../img/catalog/radio-on-focus.svg');
}

.filter-power__input:disabled + .filter-power__radio {
    background-image: url('../img/catalog/radio-off-focus.svg');
    opacity: 0.3;
}

.filter-power__input:checked:disabled + .filter-power__radio {
    background-image: url('../img/catalog/radio-on-focus.svg');
    opacity: 0.3;
}

.btn-filter {
    width: 140px;
    margin-top: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    
    font-size: 13px;
    text-align: center;

    background-color: #ffffff;
    border: 1px #e5e5e5 solid;
    border-radius: 3px;
    cursor: pointer;
}

.catalog-sort {
    width: 700px;
}

.catalog-sort__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.catalog-sort__title {
    margin: 0;
    padding-left: 20px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.list-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 139px;
    padding-right: 47px;
    padding-left: 0;

    list-style: none;
}

.list-type__link {
    display: block;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

    border-bottom: 1px #ee3643 dotted;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.list-type__link:hover,
.list-type__link:focus {
    color: #000000;

    border-bottom: 1px #ee3643 solid;
}

.list-type__link_active,
.list-type__link:focus {
    color: #ee3643;

    border-bottom: transparent;
}

.list-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 59px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 0;
    
    list-style: none;
}

.list-arrow__link {
    fill: #c5c5c5;
}

.list-arrow__link:hover,
.list-arrow__link:focus {
    fill: #231f20;
}

.list-arrow__link:active {
    fill: #ee3643;
}

.list-arrow__link_active {
    fill: #ee3643;
}

.list-tab__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    margin-bottom: 61px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.list-tab {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.list-tab__link {
    display: block;
    width: 38px;
    margin-right: 10px;
    padding-top: 12px;
    padding-bottom: 11px;
   
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    color: #000;
    text-align: center;

    border: 1px #e5e5e5 solid;
    border-radius: 3px;

    -webkit-transition: all 0.1s linear;

    -o-transition: all 0.1s linear;

    transition: all 0.1s linear;
}

.list-tab__link:hover,
.list-tab__link:focus {
    border: 1px #bdc6ca solid;
}

.list-tab__link:active {
    border: 1px #ee3643 solid;
}

.list-tab__link_next {
    width: 140px;
    text-transform: uppercase;
}

.list-tab__link_active {
    color: #ffffff;

    background-color: #ee3643;
    border: transparent;
}

.list-tab__link_active:hover,
.list-tab__link_active:focus {
    border: transparent;
}

.catalog-page .goods-list__item {
    padding-bottom: 20px;
}

/* ======== About-perforator ================= */
.about-perforator {
    padding-top: 39px;
    padding-bottom: 54px;

    background-color: #f2f6f8;
}

.about-perforator__title {
    margin-top: 22px;
    margin-bottom: 25px;

    font-size: 30px;
    letter-spacing: -0.5px;
}

.about-perforator__text {
    font-size: 13px;
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 24px;
    letter-spacing: 0.05px;
}

/* ======== Adding-goods ================= */
.adding-goods {
    width: 620px;

    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    -webkit-box-shadow: 0 20px 45px rgba(41, 52, 73, 0.75);
            box-shadow: 0 20px 45px rgba(41, 52, 73, 0.75);
}

.adding-goods__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 80px;
    padding-top: 39px;
    padding-bottom: 42px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}
  
.adding-goods__img {
    margin-right: 34px;
}

.adding-goods__title {
    font-size: 30px;
    color: #000000;
}

.adding-goods_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 37px;
    padding-bottom: 37px;

    background-color: #f1f1f1;
}

.adding-goods_btn {
    width: 220px;
}

.adding-goods_btn:first-child {
    margin-right: 20px;
    margin-left: 80px;
}

.adding-goods_btn:nth-child(2) {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.adding-goods .btn-close {
    position: absolute;
    top: 8px;
    right: 3px;

    border: none;
    background-color: transparent;
    cursor: pointer;
}



















































